1) What are data structures, and why are they important?
   - Data structures are ways to organize and store data so it can be used efficiently.
   
   Importance of Data Structures:-
   
   a) Manage and organize data properly.
   
   b) Enable fast access and processing.
   
   c) Optimize memory use.
   
   d) Support algorithms and problem-solving.
   
   e) Make programs scalable and efficient.

2)  Explain the difference between mutable and immutable data types with examples.
  - Mutable data types: Can be changed after creation (you can add, remove, or modify elements).
  
    Example: list, dict, set.

    Immutable data types: Cannot be changed after creation (a new object is created if modified).

    Example: int, float, string, tuple.

3) What are the main differences between lists and tuples in Python?
  - Lists in Python are mutable, meaning you can add, remove, or change elements. They are written with square brackets [ ].

    Tuples are immutable, meaning once created, their elements cannot be changed. They are written with parentheses ( ).

4) Describe how dictionaries store data.
  - A dictionary stores data as key–value pairs using a hash table, allowing quick access to values using their keys.

5) Why might you use a set instead of a list in Python?
  - We might use a set instead of a list in Python for these reasons:

  a) No duplicates allowed → A set automatically removes duplicate values, while a list can contain duplicates.

  b) Faster lookup → Checking if an element exists in a set is much faster (because sets use hashing) compared to a list.

  c) Set operations → Sets support mathematical operations like union, intersection, and difference, which are not directly available with lists.

6. What is a string in Python, and how is it different from a list?
   - A string is a sequence of characters enclosed in quotes (' ' or " ").

   Example: "hello", 'Python'.

   String is different from the list because of these reasons:

   1) Data type:
      
      String → stores characters.

      List → can store mixed data types (numbers, strings, etc.).

  2) Mutability:

     String → immutable (cannot change characters directly).

     List → mutable (elements can be changed, added, removed).

  3) Syntax:

     String → "apple"

     List → ["apple", "banana", "cherry"]

  4) Operations:

     Strings → support text operations

     Lists → support element operations

7. How do tuples ensure data integrity in Python?
   - Tuples ensure data integrity in Python because they are immutable (cannot be changed after creation). This prevents accidental modifications, makes them safe for use as dictionary keys or set elements, and keeps important data (like configurations or records) fixed and reliable.

8. What is a hash table, and how does it relate to dictionaries in Python?
   - Hash Table: A hash table is a data structure that stores key value pairs. It uses a hash function to convert a key into an index, which decides where the value is stored in memory. This allows fast lookups, insertions, and deletions.

   Relation to Python Dictionaries:

   a) In Python, a dictionary (dict) is implemented using a hash table.

   b) The dictionary stores data as key value pairs, where keys are hashed to find values quickly.

   c) Keys must be hashable (immutable types like strings, numbers, tuples).

9. Can lists contain different data types in Python?
   - Yes, lists in Python can contain elements of different data types. A list can hold integers, strings, floats, booleans, or even other lists/tuples.

10. Explain why strings are immutable in Python.
    - Strings are immutable in Python because:

    a) Memory efficiency → Python reuses string objects (string interning). If strings were mutable, changing one would affect all references.

    b) Data safety → Since strings are widely used (keys in dictionaries, constants, text data), immutability prevents accidental changes.

    c) Hashing requirement → Immutable objects can be hashed, so strings can be used as dictionary keys and set elements.

    d) Simplicity → Makes strings reliable and predictable; once created, they never change.

11. What advantages do dictionaries offer over lists for certain tasks?
    - Dictionaries offer these advantages over lists for certain tasks:

    a) Fast lookups → Accessing values by key in a dictionary is much faster than searching through a list.

    b) Key–value mapping → Dictionaries let you store data with meaningful keys instead of just numeric indexes.

    c)Data organization → They make data more readable and self-explanatory.

    d) Uniqueness of keys → Each key is unique, which prevents duplicate identifiers for data.

    e) Flexible keys → Keys can be strings, numbers, or other immutable types, unlike lists which only use index numbers.

12. Describe a scenario where using a tuple would be preferable over a list.
    - A tuple is preferable over a list when you need fixed, unchangeable data. Use a tuple when the data must remain constant and secure throughout the program.

    Scenario Example:
    Storing a person’s date of birth

13. How do sets handle duplicate values in Python?
    - Sets in Python automatically remove duplicates, keeping only unique elements.

14. How does the “in” keyword work differently for lists and dictionaries?
    - For lists → The in keyword checks if a value exists in the list.

      For dictionaries → The in keyword checks only for the keys, not the values.

15. Can you modify the elements of a tuple? Explain why or why not.
    - No, you cannot modify the elements of a tuple in Python. Tuples are immutable, meaning once created, their elements cannot be changed, added, or removed.

16. What is a nested dictionary, and give an example of its use case?
    - A nested dictionary is a dictionary that contains another dictionary as its value. It’s used to represent hierarchical or structured data.

      Use Case: Nested dictionaries are useful for storing complex data, like databases, JSON objects, or records (e.g., student info, employee data, configuration files).

17. Describe the time complexity of accessing elements in a dictionary.
    - Accessing elements in a dictionary (using a key) has an average time complexity of O(1).

18. In what situations are lists preferred over dictionaries?
    - Lists are preferred over dictionaries when:

    a) Order matters → Lists maintain the order of elements, while dictionaries (before Python 3.7) did not guarantee order.

    b) Simple sequences → When you just need a collection of items without key–value mapping.

    c) Duplicates are allowed → Lists can store repeated values, dictionaries require unique keys.

    d) Index-based access → When you want to access elements by position rather than by key.

    e) Lightweight storage → For small collections where key–value pairing isn’t needed.

19. Why are dictionaries considered unordered, and how does that affect data retrieval?
    - Dictionaries are considered unordered because, historically, they do not maintain the order of elements (keys and values) as they were added.

    Effect on data retrieval: You must access values using keys, not positions or indexes.

20. Explain the difference between a list and a dictionary in terms of data retrieval.
    - Difference in data retrieval between a list and a dictionary:

      List:

      a) Accessed by index (position).

      b) Searching for a specific value requires scanning the list → O(n) time complexity.


      Disctionary:

      a) Accessed by key (unique identifier).

      b) Lookup is fast → O(1) on average, because of hash table implementation.

In [1]:
# 1. Write a code to create a string with your name and print it.

name = "Zaki"
print(name)

Zaki

In [2]:
# 2. Write a code to find the length of the string "Hello World".

string = "Hello World"
length = len(string)
print(length)

11

In [3]:
# 3. Write a code to slice the first 3 characters from the string "Python Programming".

string = "Python Programming"
sliced_string = string[:3] # Slice the first 3 characters
print(sliced_string)

Pyt

In [4]:
# 4. Write a code to convert the string "hello" to uppercase.

text = "hello"

# Convert to uppercase
upper_text = text.upper()

print(upper_text)

HELLO

In [5]:
# 5. Write a code to replace the word "apple" with "orange" in the string "I like apple".

text = "I like apple"

# Replace "apple" with "orange"
new_text = text.replace("apple", "orange")

print(new_text)

I like orange

In [6]:
# 6. Write a code to create a list with numbers 1 to 5 and print it.

numbers = [1, 2, 3, 4, 5]
print(numbers)

[1, 2, 3, 4, 5]

In [8]:
# 7. Write a code to append the number 10 to the list [1, 2, 3, 4].

list = [1, 2, 3, 4]
list.append(10)
print(list)

[1, 2, 3, 4, 10]

In [9]:
# 8. Write a code to remove the number 3 from the list [1, 2, 3, 4, 5].

list = [1, 2, 3, 4, 5]
list.remove(3)
print(list)

[1, 2, 4, 5]

In [10]:
# 9. Write a code to access the second element in the list ['a', 'b', 'c', 'd'].

list = ['a', 'b', 'c', 'd']
second_element = list[1]
print(second_element)

b

In [11]:
# 10. Write a code to reverse the list [10, 20, 30, 40, 50].

numbers = [10, 20, 30, 40, 50]

# Reverse the list
numbers.reverse()

print(numbers)

[50, 40, 30, 20, 10]

In [12]:
# 11. Write a code to create a tuple with the elements 100, 200, 300 and print it.

my_tuple = (100, 200, 300)
print(my_tuple)

(100, 200, 300)

In [13]:
#12. Write a code to access the second-to-last element of the tuple ('red', 'green', 'blue', 'yellow').

colors = ('red', 'green', 'blue', 'yellow')
second_to_last = colors[-2]
print(second_to_last)

blue

In [14]:
# 13. Write a code to find the minimum number in the tuple (10, 20, 5, 15).

numbers = (10, 20, 5, 15)
minimum = min(numbers)
print(minimum)

5

In [15]:
# 14. Write a code to find the index of the element "cat" in the tuple ('dog', 'cat', 'rabbit')

animals = ('dog', 'cat', 'rabbit')
cat_index = animals.index('cat')
print(cat_index)

1

In [16]:
# 15. Write a code to create a tuple containing three different fruits and check if "kiwi" is in it.

fruits = ("apple", "banana", "orange")
is_kiwi_in_tuple = "kiwi" in fruits
print(is_kiwi_in_tuple)

False

In [17]:
# 16. Write a code to create a set with the elements 'a', 'b', 'c' and print it.

my_set = {'a', 'b', 'c'}
print(my_set)

{'a', 'c', 'b'}

In [18]:
# 17. Write a code to clear all elements from the set {1, 2, 3, 4, 5}.

my_set = {1, 2, 3, 4, 5}
my_set.clear()
print(my_set)

set()

In [19]:
# 18. Write a code to remove the element 4 from the set {1, 2, 3, 4}.

my_set = {1, 2, 3, 4}
my_set.remove(4)
print(my_set)

{1, 2, 3}

In [20]:
# 19. Write a code to find the union of two sets {1, 2, 3} and {3, 4, 5}.

set1 = {1, 2, 3}
set2 = {3, 4, 5}
union_set = set1.union(set2)
print(union_set)

{1, 2, 3, 4, 5}

In [21]:
# 20. Write a code to find the intersection of two sets {1, 2, 3} and {2, 3, 4}.

set1 = {1, 2, 3}
set2 = {2, 3, 4}
intersection_set = set1.intersection(set2)
print(intersection_set)

{2, 3}

In [22]:
# 21. Write a code to create a dictionary with the keys "name", "age", and "city", and print it.

my_dict = {
    "name": "Ajay",
    "age": 25,
    "city": "Banglore"
}
print(my_dict)

{'name': 'Ajay', 'age': 25, 'city': 'Banglore'}

In [23]:
# 22. Write a code to add a new key-value pair "country": "USA" to the dictionary {'name': 'John', 'age': 25}.

person = {"name": "John", "age": 25}
person["country"] = "USA"
print(person)

{'name': 'John', 'age': 25, 'country': 'USA'}

In [24]:
# 23. Write a code to access the value associated with the key "name" in the dictionary {'name': 'Alice', 'age': 30}.

person = {"name": "Alice", "age": 30}
name_value = person["name"]
print(name_value)

Alice

In [25]:
# 24. Write a code to remove the key "age" from the dictionary {'name': 'Bob', 'age': 22, 'city': 'New York'}.

person = {"name": "Bob", "age": 22, "city": "New York"}
del person["age"]
print(person)

{'name': 'Bob', 'city': 'New York'}

In [26]:
# 25. Write a code to check if the key "city" exists in the dictionary {'name': 'Alice', 'city': 'Paris'}.

person = {"name": "Alice", "city": "Paris"}
city_exists = "city" in person
print(city_exists)

True

In [27]:
# 26. Write a code to create a list, a tuple, and a dictionary, and print them all.

my_list = [1, 2, 3, 4, 5]
my_tuple = (10, 20, 30)
my_dict = {"name": "John", "age": 25}

print("List:", my_list)
print("Tuple:", my_tuple)
print("Dictionary:", my_dict)

List: [1, 2, 3, 4, 5]
Tuple: (10, 20, 30)
Dictionary: {'name': 'John', 'age': 25}

In [28]:
# 27. Write a code to create a list of 5 random numbers between 1 and 100, sort it in ascending order, and print the  result.(replaced)

import random

# Create a list of 5 random numbers between 1 and 100
random_numbers = [random.randint(1, 100) for _ in range(5)]

# Sort the list in ascending order
random_numbers.sort()

# Print the result
print(random_numbers)

[2, 32, 75, 82, 90]

In [29]:
# 28. Write a code to create a list with strings and print the element at the third index.

my_list = ["apple", "banana", "cherry", "date", "elderberry"]
third_element = my_list[2]
print(third_element)

cherry

In [30]:
#29. Write a code to combine two dictionaries into one and print the result.

dict1 = {"a": 1, "b": 2}
dict2 = {"c": 3, "d": 4}

combined_dict = {**dict1, **dict2}

print(combined_dict)

{'a': 1, 'b': 2, 'c': 3, 'd': 4}

In [31]:
# 30. Write a code to convert a list of strings into a set.

string_list = ["apple", "banana", "date", "orange"]
string_set = set(string_list)
print(string_set)

{'apple', 'orange', 'banana', 'date'}